@charset "utf-8";
/* CSS Document */
html, body{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Arial', 'Noto Sans TC', '微軟正黑體', sans-serif;
}


a{	color: inherit;transition: .3s .03s;}
a:focus,a:hover{ text-decoration: none;color:#d99ca8;}


.c-ffffff{color:#ffffff;}
.c-96c7e1{color:#96c7e1;}
.c-adbb50{color:#adbb50;}
.c-bda6c4{color:#bda6c4;}
.c-d99ca8{color:#d99ca8;}

.bg-ffffff{background-color:#ffffff;}
.bg-96c7e1{background-color:#96c7e1;}
.bg-adbb50{background-color:#adbb50;}
.bg-bda6c4{background-color:#bda6c4;}
.bg-d99ca8{background-color:#d99ca8;}

.bc-ffffff{border-color:#ffffff;}
.bc-96c7e1{border-color:#96c7e1;}
.bc-adbb50{border-color:#adbb50;}
.bc-bda6c4{border-color:#bda6c4;}
.bc-d99ca8{border-color:#d99ca8;}

.bl-96c7e1{border-left:5px solid #96c7e1;}
.bl-adbb50{border-left:5px solid #adbb50;}
.bl-bda6c4{border-left:5px solid #bda6c4;}
.bl-d99ca8{border-left:5px solid #d99ca8;}

.btn-000000{background-color: #000000;color: #ffffff;}
.btn-000000:focus,.btn-000000:hover{color:#ffffff!important;}
.fw-400{font-weight: 400;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}



/* wrap&footer================================================= */
.wrap{
	width: 100%;
	min-height: 100%;
	position: relative;
	background-image: url('../images/bg.png');
}
.footer{
	width: 100%;
	display: block;
	position: relative;
}
.footer .text{
	border-top: 1px solid #dddddd;
	padding: 20px 0;
	color: #aaaaaa;
}





/* header====================================================== */
.header{
	width: 100%;
	display: block;
	position: relative;
	/* margin-bottom: 20px; */
}
.header .navbar-brand{
}
.header .navbar-brand>img{
	height: 60px;
}
.header .navbar-nav{
	flex-direction: row;
}
.header .nav-item .nav-link{
	font-size: 30px;
	color: #dcdcdc;
	transition: .3s .03s;
}
.header .nav-item .nav-link{
	padding: 1rem .5rem;
}
.header .nav-item .nav-link.line:hover{
	color: #adbb50;
}
.header .nav-item .nav-link.tel:hover{
	color: #96c7e1;
}

@media screen and (max-width:350px){
	.header .navbar-brand>img{
		height: 40px;
	}
}
@media (min-width: 768px) {
	.header .navbar-brand>img{
		height: 90px;
	}
}










/* banner===================================================== */
.banner{
	width: 100%;
	padding: 20px 0;
	display: block;
	position: relative;
	margin-bottom: 20px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.banner .carousel-control-prev-icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #333333;
	background-size: 50%;
	position: absolute;
	left: 20px;
}
.banner .carousel-control-next-icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #333333;
	background-size: 50%;
	position: absolute;
	right: 20px;
}





/* content=================================================== */
content{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 3rem;
}
.line-contact{
	width: 100%;
	display: block;
	position: relative;
	/* border-bottom: 1px solid #dddddd; */
	margin-bottom: 20px;
}
.line-contact .line-contact-text{
	font-size: 24px;
	font-weight: bold;
}

.deco-block{
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	margin: 20px 0;
}
.deco-block>img{
	width: 300px;
	max-width: 80%;
	display: inline-block;
}

.block-title{
	width: 100%;
	display: block;
	padding: 2px 10px;
	font-size: 24px;
	font-weight: bold;
	/* border-left: 5px solid; */
	margin: 15px 0 ;
}


.table-style tbody tr td:first-child{
	background-color: #f0f0f0;
	width: 25%;
}
.table-style tbody tr td{
	border-bottom: 1px solid #dee2e6;
	vertical-align: middle;
}




/* price===================================== */
.price-info{
	text-align: center;
	color: #666666;
}
.price-info .title{
	width: 100%;
	display: block;
	font-size: 20px;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 15px;

}


/* map=================================== */
.map{
	width: 100%;
	height: 330px;
	display: block;
	position: relative;
}
.map>iframe{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}











@media screen and (max-width:990px){


}
@media screen and (max-width:768px){


}
@media screen and (max-width:380px){



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}