@charset "utf-8";
/* CSS Document */
html, body{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Arial', 'Noto Sans TC', '微軟正黑體', sans-serif;
	/* background-image: url('../images/bg.jpg'); */
	background-color: #001631;
	color: #ffffff;
	overflow-x: hidden;
}


a{	color: inherit;}
a:focus,a:hover{ text-decoration: none;}
.c-da9c12{color:#da9c12;}






/* wrap============================================================ */
.wrap{
	width: 75%;
	min-height: 100%;
	display: flex;
	position: relative;
	/* outline: 1px solid #f00; */
	top: 0;bottom: 0;
	left: 0; right: 0;
	margin: auto;
	align-items: center;
}
.wrap .container{
	/* outline: 1px solid #0f0; */
	/* position: relative; */
}

/* .seal{
	width: 200px;
	height: 200px;
	display: block;
	position: fixed;
	right: 10vw;
	bottom: 50px;
	background-image: url('../images/seal.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1000;
	pointer-events: none;
}
@media screen and (max-width:1600px){
	.seal{
		right: 5vw;
	}
}
@media screen and (max-width:1400px){
	.seal{
		right: 1vw;
		bottom: 10px;
		width: 150px;
		height: 150px;
	}
}
@media screen and (max-width:990px){
	.seal{
		position: absolute;
		width: 100px;
		height: 100px;
	}
} */
content{
	width: 100%;
	display: block;
	position: relative;
}
.seal{
	width: 200px;
	height: 200px;
	display: block;
	position: absolute;
	left: calc(100% + 10px);
	bottom: -30px;
	background-image: url('../images/seal.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1000;
	pointer-events: none;
}
@media screen and (max-width:1600px){
	.seal{
		width: 150px;
		height: 150px;
		bottom: 0px;
	}
}
@media screen and (max-width:1200px){
	.wrap{
		width: 100%;
	}
	.seal{
		right: 0;
		left: auto;
		bottom: -125px;
		width: 150px;
		height: 150px;
	}
}
@media screen and (max-width:990px){
	.seal{
		position: absolute;
		width: 100px;
		height: 100px;
		bottom: -90px;
	}
}












/* header======================================= */
.header{
	width: 100%;
	display: block;
	position: relative;
	transform: translateY(30px);
	margin-top: -20px;
	z-index: 10;
}
.header .navbar{
	padding: 0;
}
@media screen and (max-width:1200px){
	.header{
		transform: translateY(25px);
		margin-top: -15px;
	}
	.header .navbar-brand>img{
		height: 80px;
	}
}
@media screen and (max-width:768px){
	.header{
		transform: translateY(15px);
		margin-top: -5px;
	}
	.header .navbar-brand>img{
		height: 50px;
	}
}
.chart-btn{
	width: 20px;
	height: 16px;
	display: inline-block;
	position: relative;
	font-size: 12px;
	text-align: center;
}
.chart-btn>.icon{
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	background-image: url('../images/chart_icon.png');
	background-size: cover;
	background-position: left top;
	transform: translate(0, -5px);
	transition: 0s .03s;
}
.nav-link:hover .chart-btn>.icon{
	background-position: left bottom;
}
.chart-btn>.badge{
	position: absolute;
	left: 80%;
	top: -10px;
}
.product-pc{
	display: inline-block;
}
.product-mobile{
	display: none;
}
@media screen and (max-width:990px){
	.product-pc{
		display: none;
	}
	.product-mobile{
		display: block;
	}
}
.header .navbar .navbar-toggler{
	border:1px solid #eab133;
	color: #eab133;
}
.header .navbar .navbar-toggler.active,
.header .navbar .navbar-toggler:focus,
.header .navbar .navbar-toggler:hover{
	border:1px solid #ffd800;
	color: #ffd800;
	outline: 0;
}
.header .navbar-nav .nav-item .nav-link{
	font-size: 18px;
	color: #eab133;
	transition: .3s .03s;
}
.header .navbar-nav .nav-item:hover .nav-link{
	color: #ffd800;
}
.header .dropdown-menu{
	padding: 0;
	border: 0;
	background-color: transparent;
}
.header .dropdown-menu .dropdown-item{
	padding: 5px;
	font-size: 0;
	opacity: 1;
	transition: .3s .03s;
	background-color: transparent;
}
.header .dropdown-menu .dropdown-item:focus,
.header .dropdown-menu .dropdown-item:hover{
	opacity: .9;
}
.header #collapsePC{
	width: 100%;
	position: absolute;
	/* background-color: #ffffff; */
	transform: translate(0,5px);
}
.header #collapsePC .link{
	width: 100%;
	font-size: 0;
	display: block;
	padding: 2px;
	opacity: 1;
	/* transition: .3s .03s; */
	background-color: #000;
	border-radius: 10px;
}
.header #collapsePC .link>img{
	opacity: .35;
	/* transition: .3s .03s; */
}
.header #collapsePC .link:focus>img,
.header #collapsePC .link:hover>img{
	opacity: 1;
}










/* footer===================================================== */
.footer{
	width: 100%;
	display: block;
	position: relative;
	/* outline: 1px solid #00f; */
	transform: translateY(-30px);
	margin-bottom: -20px;
	color: #da9c12;
}
.footer .copyright{
	text-align: right;
}
@media screen and (max-width:1200px){
	.footer{
		transform: translateY(-25px);
		margin-bottom: -15px;
	}
}
@media screen and (max-width:768px){
	.footer{
		/* transform: translateY(-15px);
		margin-bottom: -5px; */
		transform: translateY(0px);
		margin-bottom: 0px;
	}
}
@media screen and (max-width:1200px){
	.footer .copyright{
		text-align: left;
	}
}
@media screen and (max-width:768px){
	.footer .copyright{
		font-size: 12px;
		line-height: 16px;
		transform: scale(.9);
		transform-origin: top left;
	}
}
.social_btn{

}
.line_btn,
.phone_btn{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-position: center top;
}
.line_btn{
	background-image: url('../images/line_icon.png');
}
.phone_btn{
	background-image: url('../images/phone_icon.png');
}
.line_btn:focus,
.line_btn:hover,
.phone_btn:focus,
.phone_btn:hover{
	background-position: center bottom;
}

/* .phone_btn-pc{
} */
.phone_btn-m{
	display: none;
}
@media screen and (max-width:990px){
	.phone_btn-pc{
		display: none;
	}
	.phone_btn-m{
		display: inline-block;
	}
}






















/* content====================================================== */

.content{
	width: 100%;
	height: 65vh;
	min-height: 500px;
	display: block;
	position: relative;
	/* outline: 1px solid #ff0; */
	overflow-y: auto;
	overflow-x: hidden;
	-ms-overflow-style: none;
	padding: 5px;
}
.content::-webkit-scrollbar {
	  width: 10px;
} /* 这是针对缺省样式 (必须的) */
.content::-webkit-scrollbar-track {
	  background-color: transparent;
} /* 滚动条的滑轨背景颜色 */

.content::-webkit-scrollbar-thumb {
	background-color: #00377a;
	/* background-image: -webkit-linear-gradient(#a37a2b, #f1b533, #362114);
	background-image: -moz-linear-gradient(#a37a2b, #f1b533, #362114);
	background-image: -m-linear-gradient(#a37a2b, #f1b533, #362114);
	background-image: -o-linear-gradient(#a37a2b, #f1b533, #362114); */
	border-radius: 1000px; 
} /* 滑块颜色 */
.content::-webkit-scrollbar-button:start {
	height: 8px;
	background-color: transparent; 
	border-bottom: 5px solid #eab133; 
	border-right: 5px solid transparent; 
	border-left: 5px solid transparent;
	border-top: 0px solid transparent;
} /* 滑轨两头的监听按钮颜色-上 */
.content::-webkit-scrollbar-button:end {
	height: 8px;
	background-color: transparent; 
	border-top: 5px solid #eab133; 
	border-right: 5px solid transparent; 
	border-left: 5px solid transparent;
	border-bottom: 0px solid transparent; 
} /* 滑轨两头的监听按钮颜色-下 */
content:before{
	content: '';
	width: 100%;
	height: 35px;
	display: block;
	position: relative;
	background-image: url('../images/line_top.png');
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	pointer-events: none;
	margin-bottom: 5px;
}
content:after{
	content: '';
	width: 100%;
	height: 35px;
	display: block;
	position: relative;
	background-image: url('../images/line_top.png');
	/* background-image: url('../images/line_bottom.png'); */
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	pointer-events: none;
	transform: rotateZ(180deg);
	margin-top: 5px;
}

@media screen and (max-width:1200px){
	content:before{
		height: 30px;
	}
	content:after{
		height: 30px;
	}
}
@media screen and (max-width:768px){
	content:before{
		height: 20px;
	}
	content:after{
		height: 20px;
	}
}



















/* banner==================================================== */
.banner{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}
.banner .carousel .carousel-control-prev,
.banner .carousel .carousel-control-next{
	opacity: 0;
}
.banner .carousel,
.banner .carousel .carousel-inner,
.banner .carousel .carousel-inner .carousel-item{
	width: 100%;
	height: 100%;
	/* display: block; */
}
.banner .carousel .carousel-item .img{
	width: 100%;
	height: 100%;
	display: block;
	background-size: cover;
	background-position: center center
}






/* order============================================================= */
.order-form{
	width: 100%;
	height: 100%;
}
.order-title{
	width: 100%;
	display: block;
	font-size: 28px;
	color: #da9c12;
	border-bottom: 1px solid #da9c12;
	text-align: center;
	padding: 10px 70px;
	position: relative;
	margin: 20px auto;
}
.order-title img.left{
	height: 24px;
	position: absolute;
	left: 15px;
	bottom: 10px;
}
.order-title img.right{
	height: 24px;
	position: absolute;
	right: 15px;
	bottom: 10px;
}
.order-form label{
	color: #da9c12;
}
.order-form .form-control{
	border-color: #da9c12;
}
.order-form .form-submit{
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	padding: 10px 0;
}
.order-form .form-submit>button{
	width: 135px;
	height: 45px;
	display: block;
	line-height: 45px;
	font-size: 20px;
	border: 0;
	background-color: transparent;
	background-image: url('../images/btn_bg.png');
	background-size: 100% auto;
	background-position: center top;
	color: #ffffff;
	position: relative;
	margin: 0 auto;
}
.order-form .form-submit>button:focus,
.order-form .form-submit>button:hover{
	background-position: center bottom;
}










/* teach============================================================= */
.teach{
	width: 100%;
	height: 100%;
}
.teach_btn{
	width: 100%;
	display: block;
	font-size: 36px;
	color: #da9c12;
	/* border-bottom: 1px solid #da9c12; */
	text-align: center;
	padding: 10px 70px;
	position: relative;
	margin: 50px auto 80px;
	transition: .3s .03s;
}
.teach_btn:after{
	content: '';
	width: 100%;
	height: 2px;
	display: block;
	background-color: #da9c12;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	margin: 0 auto;
	transition: .3s .03s;
}
.teach_btn img.left{
	height: 24px;
	position: absolute;
	left: 0px;
	bottom: 10px;
}
.teach_btn img.right{
	height: 24px;
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.teach_btn:focus,
.teach_btn:hover{
	color: #da9c12;
}
.teach_btn:focus:after,
.teach_btn:hover:after{
	width: 0;
}

















/* 購物車========================================================= */
.cart-step{
	width: 100%;
	display: block;
	position: relative;
	border-bottom: 1px solid #eab133;
	padding: 5px 0;
	margin-bottom: 20px;
}
.cart-step>img{
	width: 100%;
}
.cart-info-btn{
	display: inline-block;
	border-bottom: 1px solid #da9c12;
	color: #da9c12;
	font-size: 18px;
	transition: .3s .03s;
}
.cart-info-btn>img{
	height: 20px;
	transform: translateY(-3px);
}
.cart-info-btn:focus,
.cart-info-btn:hover{
	color: #f5b933;
	border-bottom: 1px solid #f5b933;
}
.cart-info-important{
	width: 100%;
	display: block;
	padding: 0 0 0 20px;
	position: relative;
	/* color: #da9c12; */
}
.cart-info-important>img{
	position: absolute;
	top: 5px;
	left: 0;
}

.brownBTN{
	width: 135px;
	height: 45px;
	display: block;
	line-height: 45px;
	font-size: 20px;
	border: 0;
	background-color: transparent;
	background-image: url('../images/btn_bg.png');
	background-size: 100% auto;
	background-position: center top;
	color: #ffffff;
	position: relative;
	margin: 0 auto;
}
.brownBTN:focus,
.brownBTN:hover{
	background-position: center bottom;
	color: #ffffff;
}


.cart-table{
	margin-bottom: 0;
}
.cart-table>thead>tr{
	background-color: #da9c12;
	border: 1px solid #da9c12;
	color: #ffffff;
}
.cart-table>thead>tr>th{
	font-weight: normal;
	vertical-align: middle;
	border: 1px solid #da9c12;
	text-align: center;
	padding: .3rem;
}
.cart-table .th-1{
	width: 60%;
}
.cart-table .th-2{
	width: 10%;
}
.cart-table>tbody>tr>td{
	vertical-align: middle;
	text-align: center;
	border: 1px solid #da9c12;
	line-height: 38px;
	padding: .5rem;
	color: #ffffff;
}
.cart-table>tbody>tr>td a{
	transition: .3s .03s;
}
.cart-table>tbody>tr>td a:focus,
.cart-table>tbody>tr>td a:hover{
	color: #da9c12;
}
.cart-product{
	position: relative;
	display: flex;
	align-items: center;
	text-align: left;
	line-height: 24px;
}
.cart-product>img{
	width: 80px;
	margin: 5px;
	float: left;
}
.cart-product:after{
	content: '';
	display: block;
	clear: both;
}
.remove-btn{
	font-size: 30px;
	transition: .3s .03s;
}
.remove-btn:focus,
.remove-btn:hover{
	color: #da9c12;
}
.cart-table .form-control{
	text-align: center;
}
.cart-table .title{
	color: #da9c12;
	display: none;
}
@media screen and (max-width:768px){
	.cart-table>thead{
		display: none;
	}
	.cart-table>tbody>tr{
		border: 2px solid #da9c12;
	}
	.cart-table>tbody>tr>td{
		width: 100%;
		display: block;
		border: 0;
		text-align: left;
	}
	.cart-table .title{
		display: inline-block;
	}
	.cart-table .form-control{
		text-align: left;
	}
	.remove-btn{
		width: 100%;
		display: block;
		border: 1px solid #da9c12;
		color: #da9c12;
		text-align: center;
		border-radius: 5px;
	}
	.remove-btn:focus,
	.remove-btn:hover{
		color: #ffffff;
		background-color: #da9c12;
	}
	.remove-btn>i{
		transition: .3s .03s;
	}
	.remove-btn:focus>i,
	.remove-btn:hover>i{
		color: #ffffff;
	}
}
.money-table{
	color: #ffffff;
}
.money-table .th-1{
	width: 60%;
	text-align: right;
	font-weight: normal;
}
.money-table .th-2{
	width: 10%;
	text-align: center;
	font-weight: normal;
}
.money-table .th-3{
	width: 30%;
	font-weight: normal;
}
.money-table thead{
	border-bottom: 2px solid #da9c12;
}
.money-table tbody{
	color: #da9c12;
}

.table .form-control{
	/* line-height: 20px; */
	/* padding: 0 10px; */
}
.ShippingStandard-m{
	display: none;
}
@media screen and (max-width:768px){
	.money-table .th-1{
		width: 25%;
		text-align: right;
		font-weight: normal;
	}
	.money-table .th-2{
		width: 10%;
		text-align: center;
		font-weight: normal;
	}
	.money-table .th-3{
		width: 30%;
		font-weight: normal;
	}
	.ShippingStandard-pc{
		display: none;
	}
	.ShippingStandard-m{
		width: 100%;
		display: table-cell;
		font-weight: normal;
	}
}

.brownBTN2{
	width: 135px;
	height: 45px;
	display: inline-block;
	line-height: 45px;
	font-size: 20px;
	border: 0;
	background-color: transparent;
	background-image: url('../images/btn_bg.png');
	background-size: 100% auto;
	background-position: center top;
	color: #ffffff;
	text-align: center;
	margin-bottom: 5px;
}
.brownBTN2:focus,
.brownBTN2:hover{
	background-position: center bottom;
	color: #ffffff;
}

.info-title{
	width: 100%;
	display: block;
	padding: 5px;
	background-color: #eab133;
	text-align: center;
	color: #ffffff;
	font-weight: normal;
	margin-bottom: 10px;
}
.info-table{
	color: #ffffff;
}
.info-td-1{
	width: 110px;
	text-align: right;
}
.orderNum-block{
	width: 100%;
	display: block;
	padding: 40px 0 50px;
	border-bottom: 1px solid #eab133;
	margin-bottom: 20px;
}
.orderNum-block h3{
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 48px;
	/* font-weight: bold; */
	color: #da9c12;
}









/* product================================================== */

.product{
	width: 100%;
	height: 65vh;
	min-height: 500px;
	display: block;
	position: relative;
	/* outline: 1px solid #ff0; */
	overflow-y: auto;
	overflow-x: hidden;
	-ms-overflow-style: none;
	padding: 5px;
}

.product-block{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	background-image: url('../images/product_bg.jpg');
	background-position: center center;
	background-size: cover;
}
.product-block .list-m{
	display: none;
}
.product-block .row-out,
.product-block .row-out>.col-12,
.product-block .row-out>.col-12>.row,
.product-block .row-out>.col-12>.row>.col-12{
	height: 100%;
}
@media screen and (max-width:991px){
	.product-block{
		height: auto;
		padding: 10px;
	}
	.product-block .list-m{
		display: flex;
	}
	.product-block .list-l{
		display: none;
	}
	.product-block .row-out,
	.product-block .row-out>.col-12,
	.product-block .row-out>.col-12>.row,
	.product-block .row-out>.col-12>.row>.col-12{
		height: auto;
	}
}
.product-block .product-img{
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.product-block .product-img .carousel{
	width: 100%;
	display: block;
}

.product-list-block{
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(0, 0, 0, .8);
	overflow-y: auto;
	overflow-x: hidden;
	-ms-overflow-style: none;
	padding: 10px 15px;
}
.list-l .product-list-block{
	position: absolute;
	left: 100%;
	transition: 1s .1s;
}
.list-l .product-list-block.active{
	left: 15px;
}
.product-list-block::-webkit-scrollbar {
	  width: 10px;
} /* 这是针对缺省样式 (必须的) */
.product-list-block::-webkit-scrollbar-track {
	  background-color: transparent;
} /* 滚动条的滑轨背景颜色 */

.product-list-block::-webkit-scrollbar-thumb {
	/* background-color: #00377a; */
	background-image: -webkit-linear-gradient(#a37a2b, #f1b533, #362114);
	background-image: -moz-linear-gradient(#a37a2b, #f1b533, #362114);
	background-image: -m-linear-gradient(#a37a2b, #f1b533, #362114);
	background-image: -o-linear-gradient(#a37a2b, #f1b533, #362114);
	border-radius: 1000px; 
} /* 滑块颜色 */
.product-list-block::-webkit-scrollbar-button:start {
	height: 8px;
	background-color: transparent; 
	border-bottom: 5px solid #eab133; 
	border-right: 5px solid transparent; 
	border-left: 5px solid transparent;
	border-top: 0px solid transparent;
} /* 滑轨两头的监听按钮颜色-上 */
.product-list-block::-webkit-scrollbar-button:end {
	height: 8px;
	background-color: transparent; 
	border-top: 5px solid #eab133; 
	border-right: 5px solid transparent; 
	border-left: 5px solid transparent;
	border-bottom: 0px solid transparent; 
} /* 滑轨两头的监听按钮颜色-下 */

.product-list-block>ul{
	width: 100%;
	display: block;
	position: relative;
	padding: 0;
	list-style: none;
}
.product-list-block>ul>li{
	width: 100%;
	display: block;
	position: relative;
	padding: 10px 0 10px 24px;
	background-image: url('../images/list_icon.png');
	background-repeat: no-repeat;
	background-position: left 10px;
	margin-bottom: 5px;
}
.product-list-block>ul>li>a{
	display: block;
	transition: .3s .03s;
	color: #ffffff;
	line-height: 20px;
}
.product-list-block>ul>li>a:focus,
.product-list-block>ul>li>a:hover{
	color: #eab133;
}






.product-middle-block{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
@media screen and (max-width:991px){
	.product-middle-block{
		height: auto;
		display: block;
	}
}





.product-text{
	width: 100%;
	display: block;
	position: relative;
	/* outline: 1px solid #f00; */
}
.product-text .product-name{
	width: 100%;
	display: block;
	font-size: 28px;
	margin: 20px 0 10px;
}
.product-text .product-specifications{
	display: block;
	color: #eab133;
	margin-bottom: 10px;
}
.product-text .product-info{
	width: 100%;
	height: 120px;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 20px;
	-ms-overflow-style: none;
	overflow: auto;
}
.product-text .product-info::-webkit-scrollbar {
	  width: 0px;
}
.product-text .product-price{
	display: block;
	color: #eab133;
	margin-bottom: 10px;
	font-size: 20px;
}

@media screen and (max-width:991px){
	.product-text .product-name{
		display: none;
	}
	.product-text .product-info{
		height: auto;
	}
}


.product-block .list-m .product-name{
	width: 100%;
	display: block;
	font-size: 28px;
	margin: 10px 0 10px;
}



.product-select select.form-control>option{
	padding: 5px 0;
	font-size: 18px;
	line-height: 40px;
}
.product-select select.form-control>option[disabled="disabled"]{
	color: #ffffff;
	background-color: #aaaaaa;
}

.product-list-m{
	width: 100%;
	display: block;
	position: relative;
}
.product-list-m .product-name{
	position: relative;
	width: 100%;
	padding: 5px 0 5px 30px;
	transition: .3s;
}
.product-list-m .product-name>i{
	position: absolute;
	left: 5px;
	top: 5px;
	color: #ffffff;
	transition: .3s;
}
.product-list-m .product-name:hover{
	color: #eab133;
}
.product-list-m .product-name[aria-expanded="true"]>i,
.product-list-m .product-name:hover>i{
	transform: rotateZ(90deg);
}
.collapse>.product-list-block{
	border-radius: 5px;
	max-height: 50vh;
}
















@media screen and (max-width:990px){


}
@media screen and (max-width:768px){


}
@media screen and (max-width:380px){



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}